<div class="row">
  <div class="12u">

    <!-- Search form -->
    <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
      <div class="form-group">
        <div class="input-group input-group-lg col-lg-12 col-centered">
          <%= text_field_tag :search, params[:search], placeholder: "Искомый запрос", class: 'form-control' %>
          <span class="input-group-btn">
            <%= button_tag "Поиск", class: 'btn button alt' %>
          </span>
        </div>
      </div>
    <% end %>

    <!-- News -->
    <section>
      <header class="major">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <%= paginate @articles, window: 2 %>
          </div>
        </div>
      </header>
      <% @articles.each do |article| %>

        <% count = cycle('odd', 'even') %>

        <!-- checking even or odd article in the sequence, for creating new "two-article" row -->
        <% if count == 'odd' %>
          <div class="row">
        <% end %>

        <div class="6u 12u(mobile)">
          <section class="box">
            <a href="<%= article_path(article) %>" class="image featured">
              <% if article.images[0] %>
                <div class='news-images' style="background-image: url('<%= article.images[0].image.url(:original) %>')" "></div>
              <% else %>
                <%= image_tag 'default.jpg', width: 451, height: 241 %>
              <% end %>
            </a>
            <header>
              <!-- check has title or not for defaulting him -->
              <% if article.title != '' %>
                <h3><%= article.title %></h3>
              <% else %>
                <h3>Здесь мог быть заголовок</h3>
              <% end %>
            </header>
              <!-- check has content or not for defaulting him -->
              <% if article.content != '' %>
                <!-- show preview content -->
                <p><%= article.content[0..88] %>...</p>
              <% else %>
                <p>Здесь мог быть текст</p>
              <% end %>
            <footer>
              <ul class="actions">
                <li><%= link_to 'Читать', article_path(article), class: 'button alt' %></li>
                <% if user_signed_in? and current_user.rights == 'admin' %>
                  <li><%= link_to 'Редактировать', edit_article_path(article), remote: true, class: 'get_form button alt' %></li>
                  <li><%= link_to 'Удалить', article, method: :delete, remote: true, class: 'delete_entry button' %></li>
                <% end %>
              </ul>
            </footer>
          </section>
        </div>

        <!-- checking even or odd article in the sequence, for creating new "two-article" row -->
        <% if count == 'even' %>
          </div>
        <% end %>

      <% end %>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    <%= paginate @articles, window: 2 %>
  </div>
</div>