<p id="notice"><%= notice %></p>

<p>
  <strong>Заголовок:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Содержание:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Автор:</strong>
  <%= @article.img %>
</p>

<% if user_signed_in? and current_user.rights == 'admin' %>
	<%= link_to 'Редактировать', edit_article_path(@article) %> |
<% end %>
<%= link_to 'К списку новостей', home_path %>