<p id="notice"><%= notice %></p>

<p>
  <strong>Заголовок:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Содержание:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Автор:</strong>
  <%= @article.img %>
</p>

<%= link_to 'Редактировать', admin_path(@article) %> |
<%= link_to 'На главную', home_path %>
