<!DOCTYPE html>
<html>
  <head>
    <title>Новостное агентство bom-bom</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
  </head>
	<% unless notice.nil? %>
	  <p class="notice"><%= notice %></p>
	<% end %>
	<% unless alert.nil? %>
		<p class="alert"><%= alert %></p>
	<% end %>

	<body class="homepage">
    <div id="page-wrapper">

		  <!-- Header -->
	    <div id="header-wrapper">
	      <div id="header">

	        <!-- Logo -->
          <h1><%= link_to 'RAIL\'S //', home_path %></h1>

	        <!-- Nav -->
          <nav id="nav">
            <ul>
              <li><%= link_to 'Главная', home_path %></li>
              <li>
                <% if user_signed_in? and current_user.rights == 'admin' %>
                	<% if current_page?(home_path) or current_page?(articles_path) %>
	                  <td><%= link_to 'Создать статью', new_article_path(@article), remote: true, class: :get_form %></td>
	                <% end %>
                <% end %>
              </li>

              <% if user_signed_in? %>
                <li><%= link_to "Выйти", destroy_user_session_path, :method => :delete %></li>
              <% else %>
                <% unless request.url.match('sign_in') or request.url.match('sign_up') %>
                  <li><%= link_to "Регистрация", new_user_registration_path %></li>
                  <li><%= link_to "Вход", new_user_session_path %></li>
                <% end %>
              <% end %>
            </ul>
          </nav>

	      </div>
	    </div>

			<!-- Main -->
			<div id="main-wrapper">
			  <div class="container">